body {

}

#wrapper {


}

#union-layers {
	overflow: auto;
}

.union-layer {
	margin: 10px;
	padding: 10px;
	border-bottom: 2px solid black;
	overflow: auto;
}

.union-set {
	float: left;
	position: relative;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	min-height: 40px;
	min-width: 30px;
}
	
.union-element {
	float: left;
	position: relative;
	margin: 5px;
	padding: 5px;
	text-align: center;
	width: 15px
	height: 15px;
}